$background-color: #f6f7fb;
$layout-background-color: white;
$card-background-color: white;
$text-color: #383874;
$text-dark-color: #212b36;
$text-gray-color: #c6cbd9;
$active-color: #23a698;
$change-down-color: #ff708b;
$change-up-color: #23a698;
