@import "../../../../assets/scss/colors";

.navbar {
  background-color: $layout-background-color;
  height: 64px;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  .left {
    background-color: red;
  }

  .right {
    background-color: blue;
  }
}
