@import "assets/scss/colors";
@import "assets/scss/fonts";

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}

p,
h4 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// overrides

.CircularProgressbar-trail {
  stroke-width: 3px;
}
