@import "../../../../../assets/scss/colors";

.container {
  list-style: none;
  padding: unset;
  margin: unset;
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    height: 64px;
    display: flex;
    align-items: center;

    &:nth-child(2)::after {
      content: "";
      display: inline-block;
      height: 64px;
      width: 4px;
      background-color: $active-color;
      position: absolute;
      left: 0;
    }
  }
}
